<div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 px-5 px-sm-0 mx-auto">
        <h2>User Info</h2>
        <% if @user.errors.any? %>
         <div id="error">
          <%= @user.errors.count %>error prohibited this obj from being saved:
          <ul>
           <% @user.errors.full_messages.each do |message| %>
            <%= message %>
           <% end %>
          </ul>
         </div>
        <% end %>
        <%= form_with model:@user, local:true do |f| %>
        <p>Name</p>
        <%= f.text_field :name, class:"form-control" %>
        <p>Image</p>
        <%= f.attachment_field :profile_image %>
        <p>Introduction</p>
        <%= f.text_area :introduction, class:"form-control" %><br>
        <%= f.submit 'Update User', class:"btn btn-secondary" %>
        <% end %><br>
      </div>
    </div>
  </div>
</div>