

        <h2>User info</h2>
        <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %><br>
        <table class="table">
          <tr>
            <th>name</th>
            <th><%= user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= user.introduction %></th>
          </tr>
        </table>
        <%= link_to edit_user_path(user), class:"btn btn-outline-secondary btn-block" do %>
        <span class="fas fa-user-cog"></span>
        <% end %>
        <h2>New book</h2>
        <%= form_with model:book, local:true do |f| %>
        <p>Title</p>
        <%= f.text_field :title %>
        <p>Opinion</p>
        <%= f.text_area :body %>
        <br>
        <%= f.submit 'Create Book', class:"btn btn-success" %>
        <% end %>
