

        <h2>User info</h2>
        <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %><br>
        <table class="table">
          <tr>
            <th>name</th>
            <th><%= user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= user.introduction %></th>
          </tr>
        </table>
        <%= link_to edit_user_path(user), class:"btn btn-outline-secondary btn-block" do %>
        <span class="fas fa-user-cog"></span>
        <% end %>
        <h2>New book</h2>
        <%= form_with model:book, local:true do |f| %>
        <p>Title</p>
        <%= f.text_field :title, class:"form-control" %>
        <p>Opinion</p>
        <%= f.text_area :body, class:"form-control" %>
        <p>Category</p>
        <%= f.text_field :category, class:"form-control" %>
        <br>
        <div id="evaluation_stars" class="mb-2">
          <%= f.label :evaluation,'Rate'  %>
        </div>
        <script>
          $('#evaluation_stars').raty({
            size     : 36,
            starOn: '<%= asset_path('star-on.png') %>',
            starOff: '<%= asset_path('star-off.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            scoreName: 'book[evaluation]',
            half: true,
          });
        </script>
        <%= f.submit 'Create Book', class:"btn btn-success" %>
        <% end %>
        