<div class="container">
  <div class="row">
    <div class="col-12">
      <% if @model == 'user' %>
       <h2>Users search for '<%= @value %>'</h2>
       <table class="table table-inverse">
         <thead>
           <tr>
               <th></th>
               <th>Name</th>
               <th>Introduction</th>
           </tr>
         </thead>
         <% @dates.each do |user| %>
         <tbody>
           <tr>
             <th>
               <%= attachment_image_tag user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size: "40x40" %>
             </th>
             <th><%= link_to user.name, user_path(user) %></th>
             <th><%= user.introduction %></th>
           </tr>
         </tbody>
         <% end %>
         
      <% elsif @model == 'book' %>
      <h2>Books search for '<%= @value %>'</h2>
       <table class="table table-inverse">
         <thead>
           <tr>
                <th></th>
                <th>Title</th>
                <th>Opinion</th>
            </tr>
         </thead>
         <% @dates.each do |book| %>
         <tbody>
             <tr>
                <th>
                    <%= attachment_image_tag(book.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40') %>
                </th>
                <th>
                    <%= link_to book.title, book_path(book) %>
                </th>
                <th>
                    <%= book.body %>
                </th>
            </tr>
         </tbody>
         <% end %>
         
      <% end %>
      </table>
    </div>
  </div>
</div>