<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
        <div class="container">
          <a class="navbar-brand" href="">
            <span>Bookers</span>
          </a>
          <div>
           <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
            <li>
              <%= link_to user_path(current_user.id), class:"nav-link" do %>
              <span class="fas fa-home text-light"  > Home</span>
              <% end %>
            </li>
            <li>
              <%= link_to users_path, class:"nav-link" do %>
              <span class="fas fa-users text-light" > Users</span>
              <% end %>
            </li>
            <li>
              <%= link_to books_path, class:"nav-link" do %>
              <span class="fas fa-book-open text-light"> Books</span>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path , method: :delete, class:"nav-link" do %>
              <span class="fas fa-sign-out-alt text-light"> logout</span>
              <% end %>
            </li>
      
            <% else %>
            <li>
              <%= link_to root_path, class:"nav-link" do %>
              <span class="fas fa-home text-light"> Home</span>
              <% end %>
            </li>
            <li>
              <%= link_to home_about_path, class:"nav-link" do %>
              <span class="fas fa-link text-light"> About</span>
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path, class:"nav-link" do %>
              <span class="fas fa-user-plus text-light"> sign up</span>
              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_path, class:"nav-link" do %>
              <span class="fas fa-sign-in-alt text-light"> login</span>
              <% end %>
            </li>
            <% end %>
           </ul>
          </div>
        </div>
      </nav>
      
      <% if user_signed_in? %>
      
      <div class="row">
        <div class="col-8 col-offset-4 text-right">
          <%= form_with url:searchs_search_path, method: :get, local:true do |f| %>
          　<%= f.text_field :value %>
          　<%= f.select :model, options_for_select({ "User" => "user", "Book" => "book" }) %>
          　<%= f.select :method, options_for_select({ "完全一致" => "match", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partical" }) %>
          　<%= f.submit "検索" %>
          <% end %>
        </div>
      </div>

      <% end %>
    </header>
    <p class="notice"><%= notice %></p>
    <%= yield %>
    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
